.page{
    width: 890px; 
    height: 100%;
    margin:  0px auto; 
    padding: var(--0, 0px) var(--5, 20px) var(--5, 20px) var(--5, 20px);
    background: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); 
    border-radius: var(--rounded-lg, 8px);
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    gap: var(--0, 0px);
}

.firstContainer{
    width: 100%; 
    height: 100%; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    border-bottom: 1px #E5E7EB solid; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
}

.textBox{
    flex: 1 1 0; 
    align-self: stretch; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
}

.text{
    color: #111928; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 600; 
    line-height: 27px; 
    word-wrap: break-word;
}

.rightBox{
    flex: 1 1 0; 
    align-self: stretch; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end; 
    display: inline-flex;
}

.button{
    width: 10.80px; 
    height: 10.80px; 
    background: #6B7280;
}

.body{
    width: 100%; 
    height: 100%; 
    padding-top: 16px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}

.secondContainer{
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}

.Product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 8px);
    flex: 1 0 0;
}

.textInput{
    display: flex;
    align-items: center;
    gap: var(--25, 10px);
    align-self: stretch;
    border-radius: var(--rounded-lg, 8px);
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--gray-50, #F9FAFB);
}

.Select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 8px);
    flex: 1 0 0;
}

.SelectDiv{
    display: flex;
    align-items: center;
    gap: var(--25, 10px);
    align-self: stretch;
    border-radius: var(--rounded-lg, 8px);
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--gray-50, #F9FAFB);
}

.thirdContainer{
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}

.fourthContainer{
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}

.fifthContainer{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start;  
    gap: 8px; 
    display: inline-flex;    
}

.textArea{
    display: flex;
    height: 30vh;
    padding: var(--3, 12px) var(--4, 16px);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--25, 10px);
    align-self: stretch;
    border-radius: var(--rounded-lg, 8px);
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--gray-50, #F9FAFB);
}

.sixthContainer{
    width: 100%; 
    height: 100%; 
    padding-left: 1px; 
    padding-right: 1px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 8px; 
    display: inline-flex;
}

.checkBox{
    display: flex;
    flex-direction: row;
    gap: 30px;          
}

.checkBtn{
    display: flex;
    align-items: center;
    gap: 7px; 
}

.seventhContainer{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 12px; 
    display: inline-flex;
}

.productImages{
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}

.eigthContainer{
    width: 100%; 
    height: 100%; 
    background: #F9FAFB; 
    border-radius: 8px; 
    border: 2px #E5E7EB dotted;  
    justify-content: space-between; 
    align-items: center;
     
}

.ninthContainer{ 
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
}

.span{
    color: red;
}

.img{
display: flex;
width: 144px;
height: 144px;
padding: var(--0, 0px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--0, 0px);
border-radius: var(--rounded-lg, 8px);
background: var(--gray-100, #F3F4F6);
}

.mainimg{
width: 125px;
height: 130px;
flex-shrink: 0;
}

.del{
width: 18.33px; 
height: 20px;
position: relative;
left: -53px;
bottom: 6.5px;
cursor: pointer;
color: red;
}

.body1{
    width: 50vw; 
    height: 75vh;
    margin-left: 25%; 
    padding-top: 16px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
}

.page2{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    width: 100%
}

.form{
    margin: 20px 20px;
    gap: 10px;
    ;
}

.btnaddres{
    display: flex;
    gap: 15px;
}